#bookContent
{
    width: 100%;
}
#div1 tr td
{
    vertical-align: top;
    margin-top: 0px;
}
#imageAndInfo tr td
{
    width: 20%;
}
#about tr td
{
    width: 60%;
}
#tagsAndLinks tr
{
    width: 100%;
}
#recomendation
{
    width: 100%;
}
.tmp > td
{
    padding-bottom: 2em;
}
.tmp2 > td
{
    padding-bottom: 1em;
}

#mainContent_allTags, #mainContent_tags 
{
    list-style-type:none;
    margin-left: 0px;
    white-space:nowrap;
    height:20px;
}

#mainContent_allTags 
{
    background-color:#F0F0F0;
}

#mainContent_allTags li, #mainContent_tags li 
{
    display:inline-block;
}
