body {
}

.headerLabel
{
    font-size:150%;
    padding:50px;

}
.class2
{
text-align:right;
}
.class1, .class2
{
margin-top:5px;
}
.topicLink
{
    font-weight:bold;
}
.hover, .posts
{
cursor:pointer;
}

.posts
{
   font-weight:bold;
    opacity:0.85;

}
.topic
{
    clear:both;
}
.border
{
    padding:10px;
    padding-left:20px;
 border-bottom:1px gray solid;
}
.border:last-child
{
border-bottom:0px;
}

.naslov
{
    padding:5px;
background-color:Black;
color:White;
border-radius:10px;
}
.maintopics
{
margin:20px;
border:1px gray solid;
border-radius:10px;
}
.thread
{
float:left;
}
.mostCommCat
{
float:right;

}
.nodiv
{
clear:both;
}

.topicnaslov
{
clear:both;
background-color:Black;
border-radius:10px;
}
#nodiv
{
clear:both;
}
.addNewTopic
{
float:right;
color:White;
margin-right:3px;
margin-top:2px;
}
.naslov
{
float:left;
}
#dialog-form, #dialog-form1
{
    background-color: #4169E1;
    color: White;
}
#buttons, #buttons2
{
    background-color: #4169E1;
    color: White;
    margin-top: -8px;
    padding: 20px;
}
#fieldSet1, #fieldSet2
{
    margin: 10px;
    margin-top: 30px;
}

.separateLabel
{
    width:100%;
}
#add, #cancel, #yes, #no
{
    border: 1px solid gray;
    border-radius: 5px;
    width: 49%;
    height: 120%;
    margin: auto;
    color: #4169E1;
}
.ui-dialog-titlebar-close {
  visibility: hidden;
}
.delete
{
   float:right;
   width:30px;
   height:30px;
   background:url("../Images/delete.png") no-repeat;
   margin-left:10px;
   margin-top:10px;
}