body
{
}


#progress-bar
{
    margin: 20px;
}

.commentsarea
{
    margin: 5px;
}
.picture
{
    max-height: 200px;
  overflow: hidden; 
  
}

.userpicture
{
    
    
    display: block;
      max-width: 100%;
      /* just in case, to force correct aspect ratio */
      height: auto !important;
      width: auto\9; /* ie8+9 */
      /* lt ie8 */
      -ms-interpolation-mode: bicubic; 
  margin-left:auto;

}
.banUser:hover, .unBanUser:hover, .deletePost:hover
{
cursor:pointer;
}
.usernameLink:hover
{
cursor:pointer;
}
.postdetails
{
    clear:both;
    height:auto;
}
.userinfo
{
    float:left;
    width:20%;
    height:80%
}
.posttext
{
    float:right;
    width:79%;
    min-height:100%;
    height:auto;
    border-left:1px solid gray;
    position:relative;
}
.maintext
{
   border-bottom:1px solid gray; 
  padding:10px;
   margin-bottom:30px;
   min-height:260px;
   height:auto;
  
    
}
.comm
{
border:1px solid gray;
margin:3px;
min-height:250px;
height:auto;

}
img
{

}
.comments
{
 margin-top:10px;
   margin-left:20px;
   margin-right:20px;
}
.posthead
{
background-color:Black;
color:White;
clear:both;
}
.deletePost
{
float:right;
}
.postdateold
{
float:left;
}

.noDiv
{
    clear:both;
}

.quote
{
background-color:LightGray;
margin:20px;
font-style:italic;
border-radius:5px;
}
.leftquote
{
background-size:120%;
margin-top:-10px;
}
.btnreply
{
text-align:right;
height:30px;
background-color:LightGray;
position:absolute;
bottom:0px;
width:100%;
}
.quoteBorder
{
    border-bottom:1px gray solid;
}
.username, .banusr, .posts
{
margin-left:10px;
margin-bottom:10px;
margin-top:10px;
text-align:center;
}