
#search
{
    margin-top:5px;
    float:right;
    width:55%;
}

#filterContainer
{
    width:30%;
    height:600px;
    border: 1px solid black;
    margin:10px;
    padding:10px;
}

#filterList 
{
    display:block;
    float:left;
    list-style-type:none;
    padding:0px;
    margin:0px;
}

#sortList 
{
    float:left;
    margin-top:5px;
    padding:0px;
    width:100%;
    list-style-type:none;
}

#sortList li 
{
    display:inline;
    margin-right:30px;
    
}

#searchContent 
{
    float:right;
    clear:both;
    width: 60%;
    margin-top:10px;
}

.label
{
    margin-left:10px;
    width:120px;
    text-align:center;
    padding:4px;
}

.searchList 
{
    width:100%;
    max-height: 500px;
    overflow:scroll;
    overflow-x:hidden;
}

thead, tbody {
    display: block;
}


