body
{
    font-family: "Helvetica";
    background-image: url("../Images/bg-body.png");
}
#form1
{
    font-family: "Helvetica";
}

#content
{
    background-color: #FFF8DC;
    width: 80%;
    margin: auto;
}
#header
{
    width: 80%;
    height: 52px;
    margin: auto;
}

#logo
{
    float: left;
    height: auto;
    display: inline;
    font-family: "Lucida Sans Unicode";
}
#navigation
{
    float: left;
    width: auto;
    height: auto;
    display: inline;
    margin-left: 50px;
}
.logopic
{
    float: left;
    margin-right: 5px;
}
#signLog li
{
    margin-left: 5px;
    display: inline;
    color: Black;
    width: auto;
}


#signLog
{
    list-style-type: none;
    margin-top: 18px;
    float: right;
    width: auto;
    margin-right: 10px;
}
#footer div
{
    padding: 10px;
}
#copyrights
{
    text-align: right;
}
#login
{
    float: right;
    width: 50%;
    height: 100%;
    display: inline;
    color: #1E90FF;
    margin-top: -50px;
}

#footer
{
    width: 80%;
    height: auto;
    background-color: #FFF8DC;
    font-size: 80%;
    margin: auto;
    margin-top:20px;
}

fieldset
{
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}

.menulinks
{
    color: #4169E1;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.Img1
{
    border: none !important;
}

#navigation
{
    zoom: 1;
    width: auto;
    background: #FFF8DC;
    padding: 8px 0;
}
#navigation:before
{
    content: '';
    display: block;
}
#navigation:after
{
    content: '';
    display: table;
    clear: both;
}
#navigation ul
{
    list-style-type: none;
    position: relative;
    display: block;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #4169E1;
    zoom: 1;
}
#navigation ul:before
{
    content: '';
    display: block;
}
#navigation ul:after
{
    content: '';
    display: table;
    clear: both;
}
#navigation li
{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
#navigation li .menulinks
{
    float: left;
    color: #4169E1;
    text-decoration: none;
    height: 24px;
    padding: 9px 15px 0;
    font-weight: normal;
}
#navigation li:hover, #navigation .active
{
    text-decoration: none;
    border-bottom: 2px solid #4169E1;
}
#navigation li:hover .menulinks
{
    color: darkblue;
}
#navigation .active .menulinks
{
    color: #4169E1;
    font-weight: 700;
}

.submitButton
{
    background: url('../Images/buttons.png') no-repeat;
    width: 83px;
    height: 36px;
    text-indent: -9999px;
    overflow: hidden;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
