body 
{
    margin: 10px auto;
    font-family: "Helvetica";
    width:1000px;
    background-image:url("../Images/bg-body.jpg");
}
#content
{
    background-color:#E6E6FA;
}
#header 
{
    width:100%;
    height:40px;
}

#logo 
{
    float:left;
    width:25%;
    height:100%;
    display:inline;
}

#navigation 
{
    float:left;
    width:35%;
    height:100%;
    display:inline;
}
.logopic
{
    height:35px;
    width:249px;
}
#signLog li
{
    margin-left:5px;
    display: inline;    
    color:Black;
    width:auto;
}

#signLog
{
    list-style-type:none;
    margin-top:18px;
    float:right;
    width:auto;
    margin-right:10px;
}

#login 
{
    float:right;
    width:50%;
    height:100%;
    display:inline;
    color:#1E90FF;
    margin-top:-50px;
}

#footer 
{
    width:100%;
    height:30px;
    background-color:Yellow;
}

fieldset 
{
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
}
.nameSurname
{
width:auto;
}