body 
{
    margin: 10px auto;
    font-family: "Helvetica";
    width:1000px;
}

#header 
{
    width:100%;
    height:40px;
}

#logo 
{
    float:left;
    width:25%;
    height:100%;
    background-color:Blue;
    display:inline;
}

#navigation 
{
    float:left;
    width:35%;
    height:100%;
    background-color:Green;
    display:inline;
}

#login 
{
    float:right;
    display:inline;
    width:30%;
    height:100%;
    background-color:Red;
    display:inline;
}

#footer 
{
    width:100%;
    height:30px;
    background-color:Yellow;
}