body {
}

.headerLabel
{
    font-size:150%;
    padding:50px;

}
.topic
{
    padding:10px;
    padding-left:20px;
   
    border-bottom:1px gray solid;
    clear:both;
}
.btnAddNewThread
{
    float:right;
}

#cont
{
margin:5px;
clean:both;
background-color:Black;
}
.threadname
{
font-weight:bold;
}
.userD
{
    font-weight:bold;
    opacity:0.85;
}
.hover
{
cursor:pointer;
}
.right
{
text-align:right;
}
.topic:last-child
{
border-bottom:0px;
}

.naslov
{
    padding:5px;
color:White;
border-top-left-radius:10px;
border-top-right-radius:10px;
}
.naslov
{
float:left;
}
.btnAddThread
{
float:right;
}
.maintopics
{
margin:20px;
border:1px gray solid;
border-radius:10px;
}
.thread
{
float:left;
}
.mostCommCat
{
float:right;
text-align:right;

}
#nodiv, .cont
{
clear:both;
}
.nodiv
{
clear:both;

background-color:Black;
}
.user, .numcomments
{
margin-top:5px;
}
.allblack
{
background-color:Black;
border-radius:10px;
}
.btnAddThread
{

height:25px;
margin:4px;

}